{% extends "body.html" %}

{%block body%}

<div class="row">
    <div class="col-3">
        <div class="card mb-3 shadow" style="max-width: 18rem; border: 0.10rem solid {{color.col7}}; background-color: transparent;">
            <div class="card-header text-uppercase text-xs font-weight-bold" style="color: {{color.col7}}; background-color: {{color.col1}};">FACTURATION ENCAISSÉE TTC {{annee}}</div>
            <div class="card-body text-info">
                <h5 class="card-title text-right font-weight-bold text-white" style="text-shadow: 1px 1px 2px {{color.col1}};">{{ttc_encaissee}} €</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3 shadow" style="max-width: 18rem; border: 0.10rem solid {{color.col6}}; background-color: transparent;">
            <div class="card-header text-uppercase text-xs font-weight-bold" style="color: {{color.col6}}; background-color: {{color.col1}};">Facture en Attente</div>
            <div class="card-body text-info">
                <h5 class="card-title text-right font-weight-bold text-white" style="text-shadow: 1px 1px 2px {{color.col1}};">{{solde_non_payee}} €</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3 shadow" style="max-width: 18rem; border: 0.10rem solid {{color.col5}}; background-color: transparent;">
            <div class="card-header text-uppercase text-xs font-weight-bold" style="color: {{color.col5}}; background-color: {{color.col1}};">Facturation disponible {{annee}}</div>
            <div class="card-body text-info">
                <h5 class="card-title text-right font-weight-bold text-white" style="text-shadow: 1px 1px 2px {{color.col1}};">{{facturation_available}} € (72000 €)</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3 shadow" style="max-width: 18rem; border: 0.10rem solid {{color.col4}}; background-color: transparent;">
            <div class="card-header text-uppercase text-xs font-weight-bold" style="color: {{color.col4}}; background-color: {{color.col1}};">Facture encaissée HT (2019-20XX)</div>
            <div class="card-body text-info">
                <h5 class="card-title text-right font-weight-bold text-white" style="text-shadow: 1px 1px 2px {{color.col1}};">{{solde_encaissee}} €</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3 shadow" style="max-width: 18rem; border: 0.10rem solid {{color.col7}}; background-color: transparent;">
            <div class="card-header text-uppercase text-xs font-weight-bold" style="color: {{color.col7}}; background-color: {{color.col1}};">Dernière facture</div>
            <div class="card-body text-info">
                <h5 class="card-title text-right font-weight-bold text-white" style="text-shadow: 1px 1px 2px {{color.col1}};">{{convert_date(last_facture)}}</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3 shadow" style="max-width: 18rem; border: 0.10rem solid {{color.col6}}; background-color: transparent;">
            <div class="card-header text-uppercase text-xs font-weight-bold" style="color: {{color.col6}}; background-color: {{color.col1}};">TVA Récoltée (2019-20xx)</div>
            <div class="card-body text-info">
                <h5 class="card-title text-right font-weight-bold text-white" style="text-shadow: 1px 1px 2px {{color.col1}};">{{tva_total}} € TTC</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3 shadow" style="max-width: 18rem; border: 0.10rem solid {{color.col5}}; background-color: transparent;">
            <div class="card-header text-uppercase text-xs font-weight-bold" style="color: {{color.col5}}; background-color: {{color.col1}};">Facturation encaissée TTC {{annee_1}}</div>
            <div class="card-body text-info">
                <h5 class="card-title text-right font-weight-bold text-white" style="text-shadow: 1px 1px 2px {{color.col1}};">{{fact_enc_last_year}} €</h5>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">

    <!-- Content Column -->
    <div class="container-fluid">

    <!-- Project Card Example -->
        <table class="table table-bordered shadow" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">N° Facture</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Client</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Projet</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Date d'envoi</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Jours travaillés</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Taux journalier</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">TVA</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Date d'échéance</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Total HT</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Total TTC</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">N° Facture</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Client</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Projet</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Date d'envoi</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Jours travaillés</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Taux journalier</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">TVA</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Date d'échéance</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Total HT</th>
                <th style="color: #F4A261;text-shadow: 1px 1px 2px #264653;border: 0.10rem solid #E9C46A;">Total TTC</th>
            </tr>
            </tfoot>
            <tbody>
            {% for f in factures%}
                <tr>
                {%if f.payee%}
                    <td class="accueil-td text-center">{{f.name}} <span class="badge btn-sm" style="background-color: {{color.col2}};"><i class="fas fa-check" style="margin-left: -3px; width:10px;"></i></span></td>
                {%else%}
                    <td class="accueil-td text-center">{{f.name}} <span class="badge btn-sm" style="background-color: {{color.col5}};"><i class="fas fa-exclamation-triangle" style="margin-left: -3px; width:10px;"></i></span></td>
                {%endif%}
                    <td class="accueil-td text-center">{{get_client_name(f.id_client)}}</td>
                    <td class="accueil-td text-center">{{f.projet}}</td>
                    <td class="accueil-td text-center">{{convert_date(f.date_envoi)}}</td>
                    <td class="accueil-td text-center">{{f.days}}</td>
                    <td class="accueil-td text-center">{{f.tjm}} €</td>
                    <td class="accueil-td text-center">{%if f.tva %}Oui{%else%}Non{%endif%}</td>
                    <td class="accueil-td text-center">{{convert_date(f.date_echeance)}}</td>
                    <td class="accueil-td text-center">{{f.total}} €</td>
                    {% if f.tva %}
                    <td class="accueil-td text-center">{{f.total_ttc}} €</td>
                    {%else%}
                    <td class="accueil-td text-center">---</td>
                    {%endif%}
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}