{% extends "body.html" %}

{% block script%}
<script>
    function reload_page()
    {
        document.location.reload(true);
    }

    $(document).ready(function()
    {
        $('#btn_payer_facture').click(function(e)
        {
            $('#payeFacture').modal('hide');
            var objs = {};
            var empty = true
            var l_array = []
            
            objs['facture-name'] = $('#facture-name').val();
            objs['facture-tva'] = $('#facture-tva').val();
            objs['facture-charge'] = $('#facture-charge').val();
            objs['facture-impot'] = $('#facture-impot').val();
            objs['facture-fiscal'] = $('#facture-fiscal').val();

            $.ajax({
                method: 'POST',
                url: '/coffre',
                data: objs
            }).done(function()
            {
                $('#payeFacture :input').each(function()
                {
                    if($(this).attr('type') != 'button' && !$(this).disabled)
                    {
                        $(this).val('');
                    }
                });
            });
            reload_page();
        });

        $('#payeFacture').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var facturname = button.data('facturename') // Extract info from data-* attributes
            var modal = $(this);
            modal.find('#facture-name').val(facturname);
            modal.find('#facture-tva').prop('disabled', !button.data('tva'))
        });

    });

    function remove_coffre(cid, fname)
    {
        $.ajax({
            method: 'POST',
            url: '/coffre-del',
            data: {'coffre-id': cid, 'coffre-name': fname}
        });
        reload_page();
    }
</script>
{% endblock%}

{%block body%}

<div class="modal fade" id="payeFacture" tabindex="-1" role="dialog" aria-labelledby="payeFactureLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="payeFactureLabel">Payer charge & impôt</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="facture-name" class="col-form-label">N° Facture:</label>
                    <input type="text" disabled value="{{new_facture}}" class="form-control" id="facture-name">
                </div>
                <div class="form-group">
                    <label for="facture-tva" class="col-form-label">TVA (en %):</label>
                    <input type="number" step="0.1" value="0" min="0"  class="form-control" id="facture-tva">
                </div>
                <div class="form-group">
                    <label for="facture-charge" class="col-form-label">Charge social:</label>
                    <input type="number" step="0.1" value="0" min="0" max="100" class="form-control" id="facture-charge">
                </div>
                <div class="form-group">
                    <label for="facture-fiscal" class="col-form-label">Abbatement fiscal:</label>
                    <input type="number" step="0.1" value="0" min="0" max="100" class="form-control" id="facture-fiscal">
                </div>
                <div class="form-group">
                    <label for="facture-impot" class="col-form-label">Pourcentage Impôt:</label>
                    <input type="number" step="0.1" value="0" min="0" max="100" class="form-control" id="facture-impot">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-success" id="btn_payer_facture">Payée</button>
        </div>
        </div>
    </div>
</div>

<div class="row">
    {%for f in factures%}
    {% if not exist_coffre(f.id) %}
    <div class="col-lg-6 my-auto text-center">
        <button type="button" style="width:120px; height:120px;" class="btn btn-outline-success" 
        data-toggle="modal" data-target="#payeFacture" data-client="{{get_client_name(f.id_client)}}" data-facturename="{{f.name}}" data-tva="{{f.tva}}">
            <i style="font-size: 40px" class="fa fa-file-invoice-dollar"></i>
        </button>
    </div>
    {%else%}
    <div class="col-lg-6">
        <div class="card mb-4 shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="row" style="width: 100%;">
                    <div class="col-11 text-left">
                        <h6 class="m-0 font-weight-bold text-primary">{{f.name}} - {{get_client_name(f.id_client)}}</h6>
                    </div>
                    <div class="col-1 text-right">
                        <button class="btn btn-light btn-circle btn-sm" onclick="remove_coffre('{{f.coffre.id}}', '{{f.name}}');">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row" style="margin-top: -5px;">
                    <div class="col-sm-6">
                        <p class="font-weight-bold">Charge social: <span class="badge badge-info">{{f.coffre.tauxcharge}} %</span></p>
                    </div>
                    <div class="col-sm-6">
                        <p>{{f.coffre.charge}} €</p>
                    </div>
                </div>
                <div class="row" style="margin-top: -5px;">
                    <div class="col-sm-6">
                        <p class="font-weight-bold">TVA: <span class="badge badge-info">{{f.coffre.tauxtva}} %</span></p>
                    </div>
                    <div class="col-sm-6">
                        <p>{{f.coffre.tva}} €</p>
                    </div>
                </div>
                <div class="row" style="margin-top: -5px;">
                    <div class="col-sm-6">
                        <p class="font-weight-bold">Abbatement fiscal: <span class="badge badge-info">{{f.coffre.tauxfiscal}} %</span></p>
                    </div>
                    <div class="col-sm-6">
                        <p>{{f.coffre.fiscal}} €</p>
                    </div>
                </div>
                <div class="row" style="margin-top: -5px; margin-bottom: -20px;">
                    <div class="col-sm-6">
                        <p class="font-weight-bold">Impôt revenue: <span class="badge badge-info">{{f.coffre.tauximpot}} %</span></p>
                    </div>
                    <div class="col-sm-6">
                        <p>{{f.coffre.impot}} €</p>
                    </div>
                </div>
                <hr/>
                <div class="row" style="margin-top: -5px; margin-bottom: -20px;">
                    <div class="col-sm-6">
                        <p class="font-weight-bold">Total payée: </p>
                    </div>
                    <div class="col-sm-6">
                        <p>{{f.coffre.total}} €</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    <div class="col-lg-6">
        <div class="card mb-4 shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="row" style="width: 100%;">
                    <div class="col-9 text-left">
                        <h6 class="m-0 font-weight-bold text-primary">{{f.name}} - {{get_client_name(f.id_client)}}  <span class="badge {%if f.payee%}badge-success">Payée{%else%}badge-danger">En Attente{%endif%}</span></h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="font-weight-bold">Projet: </p>
                    </div>
                    <div class="col-sm-6">
                        <p>{{f.projet}}</p>
                    </div>
                </div>
                <div class="row" style="margin-top: -5px;">
                    <div class="col-sm-6">
                        <p class="font-weight-bold">Jours: </p>
                    </div>
                    <div class="col-sm-6">
                        <p>{{f.days}}</p>
                    </div>
                </div>
                <div class="row" style="margin-top: -5px;">
                    <div class="col-sm-6">
                        <p class="font-weight-bold">Taux journalier: </p>
                    </div>
                    <div class="col-sm-6">
                        <p>{{f.tjm}} €</p>
                    </div>
                </div>
                <div class="row" style="margin-top: -5px;">
                    <div class="col-sm-6">
                        <p class="font-weight-bold">Facturation de: </p>
                    </div>
                    <div class="col-sm-6">
                        <p>{{f.total}} € <span class="badge badge-pill badge-info">{%if not f.tva%}HT{%else%}TTC exclus{%endif%}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}