{% extends "body.html" %}

{% block script%}
<script>
    function reload_page()
    {
        document.location.reload(true);
    }

    function add_withdraw()
    {
        money = Number($('#withdraw-money').val())
        motif = $('#withdraw-motif').val()
        if(money == 0)
            return;
        $.ajax({
            method: 'POST',
            url: '/withdraw-add',
            data: {'withdraw-money': money, 'withdraw-motif': motif}
        });
        reload_page();
    }

    function remove_withdraw(wid)
    {
        $.ajax({
            method: 'POST',
            url: '/withdraw-del',
            data: {'withdraw-id': wid}
        });
        reload_page();
    }
</script>
{% endblock%}

{%block body%}

<div class="card border-dark mb-3 mx-auto shadow" style="width: 50%;">
    <div class="card-header">Comptabilité - {{utilisateur}}</div>
    <div class="card-body text-dark">
        <div class="row mb-1" style="margin-left: 10px;">
            <div class="col-5">
            <form class="form-inline">
                <div class="form-group">
                    <label for="withdraw-money" class="col-form-label"></label>
                    <input type="number" step="0.01" value="0" min="0"  class="form-control" id="withdraw-money">
                </div>
            </form>
            </div>
            <div class="col-4">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="withdraw-money" class="col-form-label"></label>
                        <input type="text"  class="form-control" placeholder="Motif" id="withdraw-motif">
                    </div>
                </form>
            </div>
            <div class="col-2 text-center" style="margin-top: 3px;">
                <button class="btn btn-light btn-circle btn-sm" onclick="add_withdraw();">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
        <h5 class="card-title mb-2">Somme retirée:</h5>
        {%for w in withdraws%}
        <div class="row" style="margin-left: 10px;">
            <div class="col-4">
                <p>{{w.money}} € le {{w.created}}</p>
            </div>
            <div class="col-2 text-left" style="margin-top: -3px;">
                <button class="btn btn-light btn-circle btn-sm" onclick="remove_withdraw('{{w.id}}');">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row" style="margin-left: 10px; margin-top: -15px;">
            <div class="col-6 text-center">
                <p class="text-xs">{{w.motif}}</p>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}