html
{
    scroll-behavior: smooth !important;
}

.radius
{
    border-radius: 15%;
}

.b-none
{
    border: none;
}

.text-xs
{
    font-size: x-small;
}

.text-md
{
    font-size: medium;
}

.text-lg
{
    font-size: large;
}

.text-xl
{
    font-size: x-large;
}