html
{
    scroll-behavior: smooth !important;
}

.radius
{
    border-radius: 15%;
}

.b-none
{
    border: none;
}

.text-xs
{
    font-size: .8rem;
}

.text-md
{
    font-size: 1.1rem;
}

.text-lg
{
    font-size: 1.2rem;
}

.text-xl
{
    font-size: 1.5rem;
}